
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

*{
    font-family: 'Montserrat';
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(250, 250, 250, 0.171);
}
.main{
    color: white;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(./images/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 120vh;
    opacity: 1;
}
@media screen and (max-width: 600px) {
    .main {
        width: auto;
        height: auto;
        padding: 10px 0px;
        flex-direction: column;
        gap: 10px;
    }
    .login{
        flex-direction: column;
        font-size: 20px;
    }
    .we-ensure h1{
        font-size: 5px;
        width: auto;
        font-weight: 100;
        height: auto;
    }
    .buttons {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
}

/* Navbar Start */
.navbar{
    padding: 20px 0px 0px 50px;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .navbar {
        height: auto;
        padding: 10px 0px;
        flex-direction: column;
        gap: 10px;
        color: white;
    }
    .navbar nav {
        height: auto;
        padding: 10px 0px;
        flex-direction: column;
        gap: 10px;
        font-size: large;
    }

    .login {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.navbar nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.brand a{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    margin: 0px 0px 0px 90px;
}

ul {
    list-style-type: none;
    margin: 0px 200px 0px 0px;
    padding: 0;
    overflow: hidden;
  }
li {
    float:left;
}
    
a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 400;
}
.login{
    display: flex;
    column-gap: 40px;
    margin: 0px 150px 0px 0px;
    font-weight: 400;
}
.login button{
    background-color: rgba(35,166,240,255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}
/* we-ensure */
.we-ensure{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 50px;
    height: 75%;
    text-align: center;
    width: 35%;
    margin: auto;
}
.we-ensure h1{
    font-weight: 800;
    font-size: 50px;
}
.we-ensure h3{
    font-weight: 400;
    font-size: 18px;
}
.buttons button{
    padding: 15px 30px 15px 30px;
    background-color: rgba(35,166,240,255);
    border:none;
    border-radius: 30px;
    font-weight: 400;
    margin: 0px 10px 0px 0px;
    color: white;
    cursor: pointer;
}
.buttons input[type="button"]{
    padding: 15px 30px 15px 30px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}
/* Section one */
.section-one{
    background-color: rgb(250, 250, 250);
    height: 150px;
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
 
}

.one, .two, .three{
    background-color: white;
    color: rgba(0, 0, 0, 0.822);
    height: 200px;
    width: 15%;
    margin: auto;
    margin: -150px 0px 0px 0px;
    padding: 40px;
    display: flex;
    gap: 0px;
    flex-flow: column;
    justify-content:space-evenly;
    align-items: flex-start;
}
.three .people-icon{
    color: white;
}
.three{
    color: white;
    background-color:  rgba(35,166,240,255);
}

.people-icon{
   font-size: 50px;
   color: rgba(35,166,240,257);
}
.peace{
    font-weight: 550;
    margin-bottom: 20px;
}
.fox{
    font-weight: 400;
}
@media screen and (max-width: 600px) {
    .section-one {
        border: 2px solid red;
        height: auto;
        padding: 20px 0px;
        flex-direction: column;
        gap: 10px;
        display: table-column;
    }
    .people-icon{
        max-width: 30px;
        max-height: 30px;
    }
    .one {
        height: auto;
        padding: 20px 0px;
        flex-direction: column;
        gap: 10px;
        font-size: 10px;
    }
    .two {
        height: auto;
        padding: 20px 0px;
        flex-direction: column;
        gap: 10px;
    }

    .three {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
/* End of Section one */
/* Section 2 */
.section2{
    height: 400px;
    background-color: white;
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
}

.section2-one, .section2-two, .section2-three{
    /* background-color: rgb(185, 20, 20); */
    color: rgba(0, 0, 0, 0.822);
    height: 25%;
    width: 15%;
    margin: auto;
    margin: 0px 0px 0px 0px;
    padding: 40px;
    display: flex;
    gap: 0px;
    flex-flow: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .section2{
        display: flex;
        flex-direction: column;
        height: auto;

    }
    .section2 h2{
        font-size: large;
    }
    .section2.people-icon{
        max-width: 20px;
        max-height: 20px;
    }
    .section2-one {
        height: auto;
        padding: 20px 0px;
        flex-direction: column;
        gap: 10px;
        font-size: 15px;
        width: auto;
    }
    .section2-two {
        height: auto;
        padding: 20px 0px;
        flex-direction: column;
        gap: 10px;
        font-size: 15px;
        width: auto;
    }
    .section2-three {
        height: auto;
        padding: 20px 0px;
        flex-direction: column;
        gap: 10px;
        font-size: 15px;
        width: auto;
    }
}
/* Section 3 */
.industry{
    background-color: rgb(250, 250, 250);
    height: 850px;
    display: flex;
    flex-flow: column;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
 
}

.industry-top{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    width: 30%;
    margin: auto;
}
.approval{
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 80px;
}
.approval img{
    width: 200px;
    height: 200px;
}

.approval-one {
    background-color: rgba(169, 169, 169, 0.144);
    color: rgba(0, 0, 0, 0.822);
    height: 100%;
    width: 15%;
    margin: auto;
    margin: 0px 0px 0px 0px;
    padding: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-flow: column;
    justify-content:space-evenly;
    align-items: flex-start;
}

@media screen and (max-width: 600px) {
    .industry{
        display: flex;
        flex-direction: column;
        height: auto;

    }
    .industry-top{
        width: auto;
        font-size: large;
    }
    .section2.people-icon{
        max-width: 20px;
        max-height: 20px;
    }
    .approval {
        height: auto;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 15px;
        width: auto;
    }
    .approval-one {
        height: auto;
        padding: 20px 0px;
        flex-direction: column;
        gap: 10px;
        font-size: 15px;
        width: auto;
    }
}
/* Start of Sponsor Section */
.vector{
    display: flex;
    flex-flow: row nowrap;
    height: 300px;
    background-color: rgb(250, 250, 250);
    justify-content: center;
    align-items: flex-end;
    gap: 100px;
    padding-bottom: 90px;
}
.vector-one img{
    height: 50px;
}
@media screen and (max-width: 600px) {
    .vector{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;

    }
}
/* Newsletter */
.subscribe{
    height: 100px;
    width: 60%;
    margin: auto;
    background-image: linear-gradient(to right, blue, rgb(197, 20, 182));
    display: flex;
    flex-flow: row nowrap;
    color: white;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .subscribe{
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        align-items: center;
        padding: 10px;
    }
    .latest{
        align-items: center;
    }
}

.latest{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}
.latest h1{
    font-weight: 600;
    font-size: x-large;
}
.email{
    display: flex;
    flex-flow: row;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}
.subscribe input{
    padding: 12px;
    width: 250px;
    flex-grow: 2;
    font-size: 20px;
    font-weight: 200;
    border: none;
}
.subscribe input:focus{
    outline: none;
}
.email:focus-within{
    outline: 1px solid blue;
}
.email button{
    border: none;
    background: rgba(35,166,240,255);
    color: white;
    padding: 0px 20px 0px 20px;
}

/* Pricing Start*/
.pricing{
    background-color: rgb(250, 250, 250);
    height: 850px;
    display: flex;
    flex-flow: column;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20vh;
 
}
.checked {
    color: orange;
}
.fa-star-o{
    color: orange;
}
.pricing-top{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    width: 30%;
    margin: auto;
}
.container-prices{
    align-items: center;
    display: flex;
    height: 400px;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-bottom: 10vh; */
}
.columns {
    display: flex;
    flex-flow: column;
    width: 300px;
    height: 700px;
    padding-top: 80px;
  }
  .columns1{
        display: flex;
        padding-top: 40px;
        color: white;
        flex-flow: column;
        width: 300px;
        height: 600px;
        background-color: rgba(37,43,66,255);
  }
  
  .price {
    list-style-type: none;
    /* border: 1px solid #eee; */
    margin: 0;
    display: flex;
    flex-flow: column;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price .header {
    /* background-color: rgba(17, 17, 17, 0.582); */
    color: black;
    font-size: 30px;
    font-weight: 100;
    align-items: center;
    text-align: center;
    justify-items: baseline;
  }
  
  .price li {
    /* border-bottom: 1px solid #eee; */
    padding: 20px;
    text-align: center;
    display: flex;
    flex-flow: column;

  }
  
  .price .grey {
    /* background-color: #eee; */
    color: blue;
    font-weight: 400;
    font-size: 20px;
  }
  .columns1 .grey{
    color: white;
  }
  .columns1 .header{
    color: white;
  }
  
  .button {
    background-color: rgba(35,166,240,255);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  @media screen and (max-width: 600px) {
    .pricing {
        height: auto;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 15px;
        width: auto;
    }
    .container-prices {
        height: auto;
        padding: 20px 0px;
        flex-direction: column;
        gap: 10px;
        font-size: 15px;
        width: auto;
    }
    .pricing-top{
        height: auto;
        width: auto;
    }
}
/* End of Section 3 */
/* Start of Sponsor Section */
.sponsors{
    display: flex;
    flex-flow: row nowrap;
    height: 300px;
    background-color: rgb(250, 250, 250);
    justify-content: center;
    align-items: flex-end;
    gap: 100px;
    padding-bottom: 90px;
}
.sponsor-one img{
    height: 50px;
}
/* Start of branches */
.branches{
    background-color: rgba(37,43,66,255);
    height: 850px;
    display: flex;
    flex-flow: column;
    column-gap: 30px;
    align-items: center;
    color: white;
}
.branches-top{
    display: flex;
    gap: 100px;
    margin: 100px 250px 0px 250px;

}
.world{
    display: flex;
    flex-flow: column;
    gap: 20px;
    height: 100%;
    width: 50%;
}
.world h1{
    font-weight: 700;
    font-size: 40px;
}
.world p{
    font-weight: 400;
}
.pingwig{
    height: 50%;
   max-width: 50%;
}
@media screen and (max-width: 600px) {
    .branches-top {
        height: auto;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 15px;
        width: auto;
        /* align-items: center; */
    }
    .world{
        align-items: center;
        text-align: center;
        padding-left: 10%;
    }
    .world h1{
        color: white;
        width: auto;
        padding: 20px;
        height: auto;
        font-size: 30px;
        align-items: center;
    }
    .world p{
        width: auto;
        padding: 20px;
        height: auto;
        font-size: 8px;
        align-items: center;
    }
    .pingwig img{
        height:200px;
        width: 400px;
        font-size: large;
    }
    
}

/* End of branches */
/* Appointment */
.appointment{
    display: flex;
    margin: auto;
    height: 400px;
    width: 50%;
    justify-content: center;
}
.book{
    display: flex;
    margin: -250px 0px 0px 0px;
    background-color: rgb(13, 77, 133);
    height: 600px;
    width: 100%;
    justify-content: center;
}
.appointment-image img{
    height: 100%;
    width: 100%;
}
.form{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.form h1{
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}
.form form{
    margin-bottom: 40px;
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.form input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
 .form input[type=submit] {
    width: 100%;
    background-color: rgba(35,166,240,255);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 .form input[type=submit]:hover {
    background-color: rgb(23, 97, 139);
  }
/* End of Appointment */
/* Consult */
.consult{
    height: 150px;
    width: 60%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
}
.consult button{
    background-color: rgba(35,166,240,255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 40px 15px 40px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}
.consult button:hover{
    background-color: rgb(23, 97, 139);
    color: white;
}
@media screen and (max-width: 600px) {
    .footer footer{
        padding-top: 70px;
        height: auto;
        width: auto;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: auto;
        align-items: center;
        text-align: center;
    }
    .company-info{
        display: flex;
        flex-direction: column;
        width: auto;
        font-size: 15px;
        font-weight: 500;
    }
    .legal{
        display: flex;
        flex-direction: column;
        width: auto;
        font-size: 15px;
        font-weight: 500;
    }
    .features, .get-touch, .resources{
        display: flex;
        flex-direction: column;
        width: auto;
        font-size: 15px;
        font-weight: 500;
    }
    .bottom-footer{
        padding-top: 70px;
        height: auto;
        width: auto;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: auto;
        align-items: center;
        text-align: center;
    }
    .consult{
        display: flex;
        flex-direction: column;
    }
    .consult h1{
        font-size: 20px;

    }
    .consult p{
        font-size: 15px
    }
  
      
    
}
/* End of Consult */
/* Footer */
.footer{

    background-color: rgb(255, 255, 255);
 
}

footer{
    height: 300px;
    width: 80%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row nowrap;
    color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
}
.company-info{
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.legal{
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.features{
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.resources{
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.get-touch{
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.get-touch ion-icon{
    font-size: 30px;
    color: rgba(35,166,240,255);
}
.get-touch > div{
    display: flex;
}
.head-foot{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.foot{
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.61);
}
/* End of footer */
/* Bottom Footer */
.bottom-footer{
    height: 100px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
}
.footer-icons{
    font-size: 30px;
    color: rgba(35,166,240,255)
}